{% extends "backend/layout.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                      <th>
                      <b>U</b>ser Id
                    </th>
                    <th>
                      <b>U</b>sername
                    </th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                {% for u in user %}

                <tr>
                <td>{{ u.id }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role }}</td>
                    <td>{{ u.password }}</td>
                    <td></td>
                </tr>
                {% endfor %}

                </tbody>
              </table>
              <!-- End Table with stripped rows -->

          </div>
        </div>
          <div class="row mt-3">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Top Sellers</h5>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      <b>U</b>sername
                    </th>
                    <th>Product Name</th>
                    <th>Inventory</th>
                    <th>€</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Blossom Dickerson</td>
                    <td>5018</td>
                    <td>Kempten</td>
                    <td>2006/11/09</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
            </div>
           </div>

           </div>

    </div>
{% endblock %}