{% extends "backend/layout.html" %}
{% block title %}Products{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
   <div class="container">
      <div class="row mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                      <th>Product Id</th>
                    <th>
                      <b>P</b>roduct Name
                    </th>
                    <th>In Stock</th>
                    <th>€</th>
                    <th>Seller</th>
                  </tr>
                </thead>
                <tbody>
                {% for u in user %}

                <tr>
                    <td>1</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role }}</td>
                    <td>{{ u.password }}</td>
                    <td></td>
                </tr>
                {% endfor %}

                </tbody>
              </table>
              <!-- End Table with stripped rows -->

          </div>
        </div>
      </div>
    </div>
{% endblock %}