{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container">
          <div class="row mt-3">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bestselling </h5>
              <table class="table datatable">
                <thead>
                  <tr>
                       <th>
                      <b>P</b>roduct Id
                    </th>
                    <th>
                      <b>P</b>roduct Name
                    </th>
                    <th>€</th>
                    <th>In stock</th>
                    <th>Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>1</td>
                    <td>Blossom Dickerson</td>
                    <td>5018</td>
                    <td>Kempten</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
            </div>
           </div>
     </div>

{% endblock %}