
    <!-- Example Code -->
    {% extends 'layout.html' %}
    {% block content %} 
    <div class="container-fluid mx-auto p-10">
            <form method = "POST">
               <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="email"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ request.form['email'] }}" placeholder="email" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="text" class="form-control" id="exampleInputPassword1" value="{{ request.form['password'] }}" placeholder="password" required>
                </div>
                <div class="form-check">
      <input class="form-check-input" type="checkbox" value="{{ request.form['remember'] }}" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
       Ricordati
      </label>
    </div>
                <button type="submit" class="btn btn-primary" >Invia</button>
            </form>
        </div>
    {% endblock %}     
