{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Date</th>
                            <th scope="col">State</th>
                            <th scope="col">Total</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Resume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product_id }}</td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <form action="{{ url_for('orders_blueprint.edit_state', idx=order.id) }}" method="post">
                                        <input type="text" name="new_state" value="{{ order.state }}" />
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </td>
                                <td>{{ order.total }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>
                                     {% if order.state == 'ordinato' %}
                                         <div class="progress">
                                             <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                         </div>
                                     {% elif order.state == 'spedito' %}
                                         <div class="progress">
                                             <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                         </div>
                                     {% elif order.state == 'in transito' %}
                                         <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                         </div>
                                     {% else %}
                                         <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                         </div>
                                     {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}