{% extends "index.html" %}
{% block content %}
    <div class="container">

        <div class="row mt-5 justify-content-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Orders</li>
          </ol>
        </nav>
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Date</th>
                            <th scope="col">State</th>
                            <th scope="col">Total</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Resume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product_id }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.state }}</td>
                                <td>{{ order.total }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>
                                     {% if order.state == "ordinato" %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{ range(1, 99) | random }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                     {% else %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                     {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
