{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Date</th>
                            <th scope="col">State</th>
                            <th scope="col">Total</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                            {% if current_user.role == 'admin' %}
                                <th scope="col">Admin Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product_id }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.state }}</td>
                                <td>{{ order.total }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>Button</td>
                                <td>Button</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
