{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Prodotto</th>
                            <th scope="col">Autore</th>
                            <th scope="col">Data</th>
                            <th scope="col">Stato</th>
                            <th scope="col">Totale</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ current_user.name }}</td>
                                <td>{{ order.total }}</td>
                                <td>{{ order.state }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <form action="{{ url_for("cart_blueprint.remove", idp=product.product_id, idc=product.cart_id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
