{% extends 'index.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="d-grid gap-2 col-6 mx-auto mb-4">
            <a href="{{ url_for('products_blueprint.add_product') }}" class="btn btn-primary" type="button">Add products</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="{{ url_for("products_blueprint.modify_product", idx=product.id) }}" method="POST">
                                    <button type="submit" class="btn btn-primary me-2">Edit</button>
                                </form>
                                <form action="{{ url_for("products_blueprint.delete", idx=product.id) }}" method="POST">
                                    <button type="submit" class="btn btn-danger" >Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
