{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">{{ current_user.name }}</li>
            <li class="list-group-item">{{ current_user.email }}</li>
            <li class="list-group-item">{{ current_user.address }}</li>
            <li class="list-group-item">{{ current_user.role }}</li>
        </ul>
        <form method="GET" class="mt-5" action="{{ url_for('users_blueprint.edit') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary">Edit profile</button>
        </form>
        </div>
    </div>
{% endblock %}