{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="d-flex justify-content-center mb-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Average score</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                            {% if current_user.role == 'admin' %}
                                <th scope="col">Admin Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {#{% for _ in range(product.avg) %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {% for _ in range(5 - product.avg) %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}#}
                                    {{ product.avg }}
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.price }}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            {% if current_user.is_authenticated %}
                                            <form action="{{ url_for('cart_blueprint.add_to_cart', idx=product.id) }}" method="POST">
                                                <button type="submit" class="btn btn-primary me-2">Add to Cart</button>
                                            </form>
                                            {% endif %}
                                            <form action="{{ url_for('review_blueprint.review', idx=product.id) }}" method="POST">
                                                <button type="submit" class="btn btn-primary">Review</button>
                                            </form>
                                        </div>
                                    </td>
                                {% if current_user.role == 'admin' %}
                                    <td>
                                        <div class="btn-group" role="group">
                                            <form action="{{ url_for("products_blueprint.modify_product", idx=product.id) }}" method="POST">
                                                <button type="submit" class="btn btn-primary me-2">Modify</button>
                                            </form>
                                            <form action="{{ url_for("products_blueprint.delete", idx=product.id) }}" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
