{% extends "index.html" %}
{% block content %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                {% if current_user.is_authenticated %}
                    <th scope="col">Action</th>
                {% endif %}
                {% if current_user.role == 'admin' %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.price }}</td>
                    {% if current_user.is_authenticated %}
                        <td>
                            <div class="btn-group" role="group">
                                <form method="POST">
                                    <button type="button" class="btn btn-primary">Add to Cart</button>
                                </form>
                                <form method="POST">
                                    <button type="submit" class="btn btn-primary" >Add review</button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                        <td>
                            <div class="btn-group" role="group">
                                <form method="POST">
                                    <button type="button" class="btn btn-primary">Modify</button>
                                </form>
                                <form action="{{ url_for("products_blueprint.delete", idx=product.id) }}" method="POST">
                                    <button type="submit" class="btn btn-danger" >Delete</button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}