{% extends 'index.html' %}
{% block content %}
<section class="py-5">
    <div class="container px-4 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ url_for('static', filename='uploads/' ~ product.id ~ '.jpg') }}" alt="..." />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-3">
                    <span>${{ product.price }}</span>
                </div>
                <div class="fs-5 mb-3">
                    {% if average  %}
                        <span>{{ average }}</span>
                        <span class="ms-2">
                            {% for i in range(1, 6) %}
                                {% if i <= average|round(0, 'floor') %}
                                    <i class="fa fa-star text-warning"></i>
                                {% elif i - average < 1 %}
                                    <i class="fa fa-star-half-alt text-warning"></i>
                                {% else %}
                                    <i class="fa fa-star text-muted"></i>
                                {% endif %}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex align-items-center">
                    <form method="POST" action="{{ url_for('cart_blueprint.add_to_cart', idx=product.id) }}" class="d-flex align-items-center">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        {% if current_user.is_authenticated %}
                            <button id="addToCartButton" class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        {% endif %}
                    </form>
                    <form method="GET" action="{{ url_for('review_blueprint.review', idx=product.id) }}" class="ms-2">
                        <button id="reviewButton" class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="fa fa-star"></i>
                            Review
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

