{% extends "index.html" %}
{% block content %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% for product in products %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{{ product.name }}</li>
            <li class="list-group-item">{{ product.description }}</li>
            <li class="list-group-item">{{ product.amount}}</li>
            <li class="list-group-item">{{ product.price }}</li>
        </ul>
    {% endfor %}
{% endblock content %}