{% extends 'layout.html' %}
{% block content %} 
    <div class="container-fluid mx-auto p-10">
            <form method="POST" action="/private">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ request.form['username'] }}" placeholder="username" required>

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{ request.form['email'] }}</label>
                    <input name="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ request.form['email'] }}" placeholder="email" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{ request.form['password'] }}</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" value="{{ request.form['password'] }}" placeholder="password" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input name="repeat-password" type="password" class="form-control" id="exampleInputPassword1" placeholder="repeat password">
                </div>
                <div class="mb-3 form-check">
                    <p>Che tipologia di utente sei?</p>
                    <select name="select" class="form-select" aria-label="Default select example">
                        <option selected>Tipologia</option>
                        <option value="{{ 'buyer' }}">buyer</option>
                        <option value="{{ 'seller' }}">seller</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">Invia</button>
            </form>
        </div>
    {% endblock %}    