{% extends 'layout.html' %}
{% block content %} 
    <div class="container-fluid mx-auto p-10">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <p>Che tipologia di utente sei?</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tipologia</option>
                        <option value="1">Cliente</option>
                        <option value="2">Venditore</option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">Invia</button>
            </form>
        </div>
    {% endblock %}    